telebot
pytelegrambotapi>=1.4.2
pytest
tgintegration
Filters
scikit-image
scikit-learn
tgcrypto
pyrogram
instabot
ptbtest
anyio
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
twisted
python-telegram-bot==5.0
python-decouple==3.1
git+https://github.com/JosXa/tgintegration.git
django-cors-headers
